@page "/"

<div class="ej-content">
    <div class="ej-home-content">
        <div class="ej-content-header-text">
            <h1>Blazor WebAssembly Reporting Components</h1>
        </div>
        <div class="ej-content-description">
            <p>
                Empower your web application with feature-rich report preview, edit and customization capabilities that lets you explore data easily and make real-time decisions. Eﬀortlessly print and export reports.
            </p>
            <p>
                <a href="ReportViewer">Report Viewer</a>
            </p>
            <p>
                <a href="ReportDesigner">Report Designer</a>
            </p>
        </div>
    </div>
</div>